.mainContainer {
	border-width: 2px;
	border-style: solid;
	border-color: black;
	border-radius: 6px;
}
.jumbotron {
	margin: 20px;
	margin-top: 30px;
	background-color: #428bca;
	border-width: 1.5px;
	border-style: solid;
	border-color: black;
	border-radius: 6px;
}
.trainInput {
	margin-bottom: 20px;
	border-width: 1.5px;
	border-style: solid;
	border-color: black;
	border-radius: 6px;
}
.trainField {
	border-width: 1.5px;
	border-style: solid;
	border-color: black;
	border-radius: 6px;
	padding: .2px;
}
 body {
 	background-color: gray;
 }
